openapi: 3.0.2
info:
  title: API Reference
  description: >
    This page contains the documentation on how to use sentinel hub services
    through API calls.


    > Note: This documentation is not complete
  version: 1.0.0
  contact:
    name: Sentinel Hub
servers:
  - url: https://services.sentinel-hub.com
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: >
        ### Authentication


        More about the authentication <a
        href="https://docs.sentinel-hub.com/api/latest/api/overview/authentication/"
        target="_blank">here</a>.


        To get an access token using curl:


        ```

        curl --request POST \
          --url https://services.sentinel-hub.com/oauth/token \
          --header "content-type: application/x-www-form-urlencoded" \
          --data "grant_type=client_credentials&client_id=<your client id>&client_secret=<your client secret>"
        ```
      flows:
        clientCredentials:
          tokenUrl: https://services.sentinel-hub.com/oauth/token
          scopes:
            SH: Sentinel Hub
        implicit:
          authorizationUrl: https://services.sentinel-hub.com/oauth/auth
          scopes:
            SH: Sentinel Hub
  parameters:
    SearchBeanSearch:
      name: search
      description: >-
        Optional search query. Either a single word to search for or multiple
        words separated by the `|` (or) and `&` (and) operators. If omitted, all
        items are returned.
      in: query
      schema:
        type: string
    SearchBeanCount:
      name: count
      description: >-
        Upper limit to the number of items to retrieve. An endpoint-specific
        default is used if omitted.
      in: query
      schema:
        type: integer
        format: int32
    SearchBeanViewtoken:
      name: viewtoken
      description: >-
        When total number of items is larger than *count*, the response contains
        *viewtoken*. This *viewtoken* can be used in the next request to
        retrieve the next page of items.
      in: query
      schema:
        type: string
    SearchBeanSort:
      name: sort
      description: sort
      in: query
      schema:
        type: string
    BatchRequestId:
      name: requestId
      description: Request ID
      in: path
      required: true
      schema:
        type: string
        format: uuid
    BatchCollectionId:
      name: collectionId
      description: Collection ID
      in: path
      required: true
      schema:
        type: string
        format: uuid
    BatchTileId:
      name: tileId
      description: Tile ID
      in: path
      required: true
      schema:
        type: integer
        format: int64
    BatchTilinggridsId:
      name: id
      description: Tilinggrids ID
      in: path
      required: true
      schema:
        type: integer
        format: int64
    OrderId:
      name: orderId
      description: Order ID
      in: path
      required: true
      schema:
        type: string
        format: uuid
    OrderStatus:
      name: status
      description: Filter orders by status. Omit to get all orders.
      in: query
      schema:
        $ref: '#/components/schemas/OrderStatus'
    DeliveryId:
      name: deliveryId
      description: Delivery ID
      in: path
      required: true
      schema:
        type: string
        format: uuid
    Provider:
      name: provider
      description: Data Provider
      in: path
      required: true
      schema:
        type: string
        enum:
          - AIRBUS
          - PLANET
    TpdiCollectionId:
      name: collectionId
      description: Collection ID
      in: path
      required: true
      schema:
        type: string
        enum:
          - AIRBUS_PLEIADES
          - AIRBUS_SPOT
          - PLANET_SCOPE
          - MAXAR_WORLDVIEW
    DeliveryStatus:
      name: status
      description: Filter deliveries by status. Omit to get all deliveries.
      in: query
      schema:
        $ref: '#/components/schemas/DeliveryStatus'
    ByocCollectionId:
      name: collectionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    ByocTileId:
      name: tileId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    ConfigurationDatasetType:
      name: datasetType
      description: Dataset type
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/DatasetType'
    ConfigurationDataproductId:
      name: id
      description: Dataproduct ID
      in: path
      required: true
      schema:
        type: integer
        format: int64
    ConfigurationDatasetId:
      name: datasetId
      description: Dataset ID
      in: path
      required: true
      schema:
        type: string
    ConfigurationDatasetSourceId:
      name: id
      description: Dataset source ID
      in: path
      required: true
      schema:
        type: integer
        format: int64
    WmsInstanceId:
      name: instanceId
      description: Instance ID
      in: path
      required: true
      schema:
        type: string
        format: uuid
    WmsLayerId:
      name: layerId
      description: Layer ID
      in: path
      required: true
      schema:
        type: string
    bbox:
      name: bbox
      in: query
      description: >-
        Only features that have a geometry that intersects the bounding box are
        selected.

        The bounding box is provided as four or six numbers, depending on

        whether the coordinate reference system includes a vertical axis (height

        or depth):


        * Lower left corner, coordinate axis 1

        * Lower left corner, coordinate axis 2

        * Minimum value, coordinate axis 3 (optional)

        * Upper right corner, coordinate axis 1

        * Upper right corner, coordinate axis 2

        * Maximum value, coordinate axis 3 (optional)


        The coordinate reference system of the values is WGS 84

        longitude/latitude (http://www.opengis.net/def/crs/OGC/1.3/CRS84).


        For WGS 84 longitude/latitude the values are in most cases the sequence

        of minimum longitude, minimum latitude, maximum longitude and maximum

        latitude. However, in cases where the box spans the antimeridian the

        first value (west-most box edge) is larger than the third value

        (east-most box edge).


        If the vertical axis is included, the third and the sixth number are

        the bottom and the top of the 3-dimensional bounding box.


        If a feature has multiple spatial geometry properties, it is the

        decision of the server whether only a single spatial geometry property

        is used to determine the extent or all relevant geometries.


        Example: The bounding box of the New Zealand Exclusive Economic Zone in

        WGS 84 (from 160.6°E to 170°W and from 55.95°S to 25.89°S) would be

        represented in JSON as `[160.6, -55.95, -170, -25.89]` and in a query as

        `bbox=160.6,-55.95,-170,-25.89`.
      required: false
      schema:
        type: array
        minItems: 4
        maxItems: 6
        items:
          type: number
      style: form
      explode: false
    collectionId:
      name: collectionId
      in: path
      description: local identifier of a collection
      required: true
      schema:
        type: string
    datetime:
      name: datetime
      in: query
      description: >-
        Either a date-time or an interval, open or closed. Date and time
        expressions

        adhere to RFC 3339. Open intervals are expressed using double-dots.


        Examples:


        * A date-time: "2018-02-12T23:20:50Z"

        * A closed interval: "2018-02-12T00:00:00Z/2018-03-18T12:31:12Z"

        * Open intervals: "2018-02-12T00:00:00Z/.." or "../2018-03-18T12:31:12Z"


        Only features that have a temporal property that intersects the value of

        `datetime` are selected.


        If a feature has multiple temporal properties, it is the decision of the

        server whether only a single temporal property is used to determine

        the extent or all relevant temporal properties.
      required: false
      schema:
        type: string
      style: form
      explode: false
    featureId:
      name: featureId
      in: path
      description: local identifier of a feature
      required: true
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: >-
        The optional limit parameter limits the number of items that are
        presented in the response document.


        Only items are counted that are on the first level of the collection in
        the response document.

        Nested objects contained within the explicitly requested items shall not
        be counted.


        Minimum = 1. Maximum = 100. Default = 10.
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
      style: form
      explode: false
    ids:
      name: ids
      in: query
      description: |-
        Array of Item ids to return. All other filter parameters that further
        restrict the number of search results are ignored
      required: false
      schema:
        $ref: '#/components/schemas/ids'
      explode: false
    collectionsArray:
      name: collections
      in: query
      description: |
        Array of Collection IDs to include in the search for items.
        Only Items in one of the provided Collections will be searched
      required: false
      schema:
        $ref: '#/components/schemas/collectionsArray'
      explode: false
    next:
      name: next
      in: query
      description: The token to retrieve the next set of results
      required: false
      schema:
        $ref: '#/components/schemas/next'
      style: form
    fields:
      name: fields
      in: query
      description: Determines the shape of the features in the response
      required: false
      schema:
        type: string
        example: id,type,-geometry,bbox,properties,-links,-assets
      style: form
      explode: false
  responses:
    '400':
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RestErrorWrapper'
    '401':
      description: Unauthorized
    '403':
      description: Insufficient permissions
    '404':
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RestErrorWrapper'
    '409':
      description: Conflict in the request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RestErrorWrapper'
    '500':
      description: Server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RestErrorWrapper'
    LandingPage:
      description: |-
        The landing page provides links to the API definition
        (link relations `service-desc` and `service-doc`),
        the Conformance declaration (path `/conformance`,
        link relation `conformance`), and the Feature
        Collections (path `/collections`, link relation
        `data`).

        Links to the search endpoints (path `/search`, link relation `search`,
        method `GET` or `POST`) are **required** to be specified if the API
        implements `/search` for any of the specified HTTP methods.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/landingPage'
          example:
            title: NAIP Imagery
            description: Catalog of NAIP Imagery.
            links:
              - href: http://data.example.org/
                rel: self
                type: application/json
                title: this document
              - href: http://data.example.org/api
                rel: service-desc
                type: application/vnd.oai.openapi+json;version=3.0
                title: the API definition
              - href: http://data.example.org/api.html
                rel: service-doc
                type: text/html
                title: the API documentation
              - href: http://data.example.org/conformance
                rel: conformance
                type: application/json
                title: OGC API conformance classes implemented by this server
              - href: http://data.example.org/collections
                rel: data
                type: application/json
                title: Information about the feature collections
              - href: http://data.example.org/search
                rel: search
                type: application/json
                title: Search across feature collections
            stac_version: 0.9.0
            id: naip
        text/html:
          schema:
            type: string
    ConformanceDeclaration:
      description: |-
        The URIs of all conformance classes supported by the server.

        To support "generic" clients that want to access multiple
        OGC API Features implementations - and not "just" a specific
        API / server, the server declares the conformance
        classes it implements and conforms to.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/confClasses'
          example:
            conformsTo:
              - http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core
              - http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30
              - http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/html
              - http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson
        text/html:
          schema:
            type: string
    Collections:
      description: >-
        The feature collections shared by this API.


        The dataset is organized as one or more feature collections. This
        resource

        provides information about and access to the collections.


        The response contains the list of collections. For each collection, a
        link

        to the items in the collection (path
        `/collections/{collectionId}/items`,

        link relation `items`) as well as key information about the collection.

        This information includes:


        * A local identifier for the collection that is unique for the dataset;

        * A list of coordinate reference systems (CRS) in which geometries may
        be returned by the server. The first CRS is the default coordinate
        reference system (the default is always WGS 84 with axis order
        longitude/latitude);

        * An optional title and description for the collection;

        * An optional extent that can be used to provide an indication of the
        spatial and temporal extent of the collection - typically derived from
        the data;

        * An optional indicator about the type of the items in the collection
        (the default value, if the indicator is not provided, is 'feature').
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/collections'
        text/html:
          schema:
            type: string
    Collection:
      description: >-
        Information about the feature collection with id `collectionId`.


        The response contains a link to the items in the collection

        (path `/collections/{collectionId}/items`, link relation `items`)

        as well as key information about the collection. This information

        includes:


        * A local identifier for the collection that is unique for the dataset;

        * A list of coordinate reference systems (CRS) in which geometries may
        be returned by the server. The first CRS is the default coordinate
        reference system (the default is always WGS 84 with axis order
        longitude/latitude);

        * An optional title and description for the collection;

        * An optional extent that can be used to provide an indication of the
        spatial and temporal extent of the collection - typically derived from
        the data;

        * An optional indicator about the type of the items in the collection
        (the default value, if the indicator is not provided, is 'feature').
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/collection'
        text/html:
          schema:
            type: string
    Features:
      description: >-
        The response is a document consisting of features in the collection.

        The features included in the response are determined by the server

        based on the query parameters of the request. To support access to

        larger collections without overloading the client, the API supports

        paged access with links to the next page, if more features are selected

        that the page size.


        The `bbox` and `datetime` parameter can be used to select only a

        subset of the features in the collection (the features that are in the

        bounding box or time interval). The `bbox` parameter matches all
        features

        in the collection that are not associated with a location, too. The

        `datetime` parameter matches all features in the collection that are

        not associated with a time stamp or interval, too.


        The `limit` parameter may be used to control the subset of the

        selected features that should be returned in the response, the page
        size.

        Each page may include information about the number of selected and

        returned features (`numberMatched` and `numberReturned`) as well as

        links to support paging (link relation `next`).
      content:
        application/geo+json:
          schema:
            $ref: '#/components/schemas/featureCollectionGeoJSON'
        text/html:
          schema:
            type: string
    Feature:
      description: |-
        fetch the feature with id `featureId` in the feature collection
        with id `collectionId`
      content:
        application/geo+json:
          schema:
            $ref: '#/components/schemas/item'
        text/html:
          schema:
            type: string
    InvalidParameter:
      description: A query parameter has an invalid value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/exception'
        text/html:
          schema:
            type: string
    NotFound:
      description: The requested URI was not found.
    ServerError:
      description: A server error occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/exception'
        text/html:
          schema:
            type: string
  schemas:
    Boom:
      type: object
      properties:
        status:
          description: HTTP status code
          type: integer
          format: int32
        reason:
          description: Reason for the error
          type: string
        message:
          description: Friendly error message
          type: string
        code:
          description: Code that uniquely identifies the error
          type: string
          enum:
            - COMMON_BAD_PAYLOAD
            - COMMON_NOT_FOUND
            - COMMON_DATABASE_ERROR
            - COMMON_UNIQUE_KEY_VIOLATION
            - COMMON_INSUFFICIENT_PERMISSIONS
            - COMMON_SENTINEL_ACCOUNT_EXPIRED
            - COMMON_METHOD_NOT_ALLOWED
            - COMMON_UNSUPPORTED_MEDIA_TYPE
            - COMMON_ELASTICSEARCH_ERROR
            - COMMON_UNAUTHORIZED
            - COMMON_EXCEPTION
            - RATE_LIMIT_STORAGE_TIMEOUT
            - RATE_LIMIT_OVERLAPPING_POLICIES
            - RATE_LIMIT_EXCEEDED
            - RATE_LIMIT_TOKEN_COUNT_EXCEEDS_CAPACITY
            - DASHBOARD_PAYPAL_SALE_ERROR
            - DASHBOARD_PAYPAL_SUBSCRIPTION_ERROR
            - DASHBOARD_INVALID_PAYPAL_RESPONSE
            - DASHBOARD_EXECUTE_SALE_ERROR
            - DASHBOARD_EXECUTE_AGREEMENT_ERROR
            - DASHBOARD_IPN_ERROR
            - DASHBOARD_ADYEN_SALE_ERROR
            - DASHBOARD_ADYEN_PAYMENT_CANCELLED
            - RENDERER_EXCEPTION
            - OAUTH_ERROR
            - EMAIL_OCTOPUS_ERROR
        errors:
          description: Additional information about the error (Optional)
          type: object
    RestErrorWrapper:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Boom'
    DatasetType:
      type: string
      enum:
        - S2L1C
        - S2L2A
        - L8L1C
        - LOTL1
        - LOTL2
        - DEM
        - MODIS
        - S1GRD
        - S2GM
        - S3OLCI
        - S3SLSTR
        - S5PL2
        - CUSTOM
    Interpolator:
      type: string
      enum:
        - BILINEAR
        - BICUBIC
        - LANCZOS
        - BOX
        - NEAREST
    DateTimeInterval:
      type: object
      properties:
        from:
          type: string
          description: >-
            ISO-8601 time representing start of search interval, e.g.
            2019-01-31T14:00:00+01:00
          format: date-time
        to:
          type: string
          description: >-
            ISO-8601 time representing end of search interval, e.g.
            2019-02-05T15:00:00+01:00.
          format: date-time
    Geometry:
      description: >-
        The request area of interest geometry. This and/or BBOX must be
        specified. Coordinates need to be in easting,northing or
        longitude,latitude, in that order in the CRS defined in the
        "bounds.properties.crs" parameter. A GeoJsonObject.
      type: object
      oneOf:
        - $ref: '#/components/schemas/Polygon'
        - $ref: '#/components/schemas/MultiPolygon'
      example:
        type: Polygon
        coordinates:
          - - - 14.000701904296873
              - 46.23685258143992
            - - 13.822174072265625
              - 46.09037664604301
            - - 14.113311767578125
              - 45.85080395917834
            - - 14.55963134765625
              - 46.038922598236
            - - 14.441528320312498
              - 46.28717293114449
            - - 14.17236328125
              - 46.29191774991382
            - - 14.000701904296873
              - 46.23685258143992
    Polygon:
      type: object
      properties:
        type:
          type: string
          enum:
            - Polygon
        coordinates:
          type: array
          items:
            type: array
            items:
              maxItems: 2
              minItems: 2
              type: array
              items:
                type: number
                format: double
    MultiPolygon:
      type: object
      properties:
        type:
          type: string
          enum:
            - MultiPolygon
        coordinates:
          type: array
          items:
            type: array
            items:
              type: array
              items:
                maxItems: 2
                minItems: 2
                type: array
                items:
                  type: number
                  format: double
    View:
      description: Links to paginate the resource
      type: object
      properties:
        currentToken:
          type: string
        nextToken:
          type: string
        previousToken:
          type: string
        '@id':
          type: string
          format: uri
        next:
          type: string
          format: uri
        previous:
          type: string
          format: uri
    ResourceReference:
      type: object
      properties:
        '@id':
          description: Resource URL reference
          type: string
    BaseDataset:
      type: object
      properties:
        type:
          description: Datasource abbreviation
          type: string
        id:
          description: Identifier
          type: string
    S2L1CDataset:
      title: S2L1C
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDataset'
        - type: object
          properties:
            dataFilter:
              $ref: '#/components/schemas/S2L1CFiltering'
            processing:
              $ref: '#/components/schemas/S2L1CProcessing'
            type:
              type: string
              enum:
                - S2L1C
    S2L2ADataset:
      title: S2L2A
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDataset'
        - type: object
          properties:
            dataFilter:
              $ref: '#/components/schemas/S2L2AFiltering'
            processing:
              $ref: '#/components/schemas/BaseDatasetProcessing'
            type:
              type: string
              enum:
                - S2L2A
    Ls8Dataset:
      title: L8L1C
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDataset'
        - type: object
          properties:
            dataFilter:
              $ref: '#/components/schemas/Ls8Filtering'
            processing:
              $ref: '#/components/schemas/BaseDatasetProcessing'
            type:
              type: string
              enum:
                - L8L1C
    L8L1Dataset:
      title: LOTL1
      type: object
      allOf:
        - type: object
          properties:
            type:
              type: string
              enum:
                - LOTL1
        - $ref: '#/components/schemas/Ls8Dataset'
    L8L2Dataset:
      title: LOTL2
      type: object
      allOf:
        - type: object
          properties:
            type:
              type: string
              enum:
                - LOTL2
        - $ref: '#/components/schemas/Ls8Dataset'
    ModisDataset:
      title: MODIS
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDataset'
        - type: object
          properties:
            dataFilter:
              $ref: '#/components/schemas/ModisFiltering'
            processing:
              $ref: '#/components/schemas/BaseDatasetProcessing'
            type:
              type: string
              enum:
                - MODIS
    DEMDataset:
      title: DEM
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDataset'
        - type: object
          properties:
            dataFilter:
              $ref: '#/components/schemas/DEMFiltering'
            processing:
              $ref: '#/components/schemas/DEMProcessing'
            type:
              type: string
              enum:
                - DEM
    S1Dataset:
      title: S1GRD
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDataset'
        - type: object
          properties:
            dataFilter:
              $ref: '#/components/schemas/S1Filtering'
            processing:
              $ref: '#/components/schemas/S1Processing'
            type:
              type: string
              enum:
                - S1GRD
    S3Dataset:
      title: S3OLCI
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDataset'
        - type: object
          properties:
            dataFilter:
              $ref: '#/components/schemas/S3OlciFiltering'
            processing:
              $ref: '#/components/schemas/BaseDatasetProcessing'
            type:
              type: string
              enum:
                - S3OLCI
    S3SlstrDataset:
      title: S3SLSTR
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDataset'
        - type: object
          properties:
            dataFilter:
              $ref: '#/components/schemas/S3SlstrFiltering'
            processing:
              $ref: '#/components/schemas/S3SlstrProcessing'
            type:
              type: string
              enum:
                - S3SLSTR
    S5PDataset:
      title: S5PL2
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDataset'
        - type: object
          properties:
            dataFilter:
              $ref: '#/components/schemas/S5PFiltering'
            processing:
              $ref: '#/components/schemas/S5PProcessing'
            type:
              type: string
              enum:
                - S5PL2
    BYOCDataset:
      title: BYOC / BATCH
      type: object
      allOf:
        - type: object
          properties:
            dataFilter:
              $ref: '#/components/schemas/BYOCFiltering'
            processing:
              $ref: '#/components/schemas/BaseDatasetProcessing'
            type:
              type: string
              description: >
                For a BYOC collection, set to "byoc-\<collectionId\>", for
                example "byoc-017aa0ae-33a6-45d3-8548-0f7d1041b40c".


                For a BATCH collection, set to "batch-\<collectionId\>", for
                example "batch-9688cd56-6c70-4221-add8-a5821d0256a9".
        - $ref: '#/components/schemas/BaseDataset'
    S2L2AFiltering:
      type: object
      properties:
        timeRange:
          $ref: '#/components/schemas/TimeRange'
        mosaickingOrder:
          description: >-
            The order in which tiles are overlapped from which the output result
            is mosaicked.
          type: string
          enum:
            - mostRecent
            - leastRecent
            - leastCC
          default: mostRecent
        maxCloudCoverage:
          $ref: '#/components/schemas/MaxCloudCoverage'
    S2L1CFiltering:
      allOf:
        - $ref: '#/components/schemas/S2L2AFiltering'
        - type: object
          properties:
            previewMode:
              type: string
              description: >
                The preview mode as defined

                <a
                href="https://docs.sentinel-hub.com/api/latest/data/sentinel-2-l1c/#previewmode"
                target="_blank">here</a>.
              enum:
                - DETAIL
                - PREVIEW
                - EXTENDED_PREVIEW
              default: DETAIL
    Ls8Filtering:
      type: object
      properties:
        timeRange:
          $ref: '#/components/schemas/TimeRange'
        mosaickingOrder:
          description: >-
            The order in which tiles are overlapped from which the output result
            is mosaicked.
          type: string
          enum:
            - mostRecent
            - leastRecent
            - leastCC
          default: mostRecent
        maxCloudCoverage:
          $ref: '#/components/schemas/MaxCloudCoverage'
    ModisFiltering:
      type: object
      properties:
        timeRange:
          $ref: '#/components/schemas/TimeRange'
        mosaickingOrder:
          description: >-
            The order in which tiles are overlapped from which the output result
            is mosaicked.
          type: string
          enum:
            - mostRecent
            - leastRecent
          default: mostRecent
    S1Filtering:
      type: object
      properties:
        timeRange:
          $ref: '#/components/schemas/TimeRange'
        mosaickingOrder:
          description: >-
            The order in which tiles are overlapped from which the output result
            is mosaicked.
          type: string
          enum:
            - mostRecent
            - leastRecent
          default: mostRecent
        resolution:
          type: string
          enum:
            - HIGH
            - MEDIUM
            - FULL
        acquisitionMode:
          type: string
          enum:
            - SM
            - IW
            - EW
            - WV
            - EN
            - AN
            - IM
        polarization:
          type: string
          enum:
            - SH
            - SV
            - DH
            - DV
            - HH
            - HV
            - VV
            - VH
        orbitDirection:
          type: string
          enum:
            - ASCENDING
            - DESCENDING
        timeliness:
          type: string
          enum:
            - NRT10m
            - NRT1h
            - NRT3h
            - Fast24h
            - Offline
            - Reprocessing
            - ArchNormal
    S3OlciFiltering:
      type: object
      properties:
        timeRange:
          $ref: '#/components/schemas/TimeRange'
        mosaickingOrder:
          description: >-
            The order in which tiles are overlapped from which the output result
            is mosaicked.
          type: string
          enum:
            - mostRecent
            - leastRecent
          default: mostRecent
    S3SlstrFiltering:
      type: object
      properties:
        timeRange:
          $ref: '#/components/schemas/TimeRange'
        mosaickingOrder:
          description: >-
            The order in which tiles are overlapped from which the output result
            is mosaicked.
          type: string
          enum:
            - mostRecent
            - leastRecent
            - leastCC
          default: mostRecent
        maxCloudCoverage:
          $ref: '#/components/schemas/MaxCloudCoverage'
        orbitDirection:
          description: Orbit direction.
          type: string
          enum:
            - ASCENDING
            - DESCENDING
    S5PFiltering:
      type: object
      properties:
        timeRange:
          $ref: '#/components/schemas/TimeRange'
        mosaickingOrder:
          description: >-
            The order in which tiles are overlapped from which the output result
            is mosaicked.
          type: string
          enum:
            - mostRecent
            - leastRecent
          default: mostRecent
        timeliness:
          description: Data timeliness.
          type: string
          enum:
            - NRTI
            - OFFL
            - RPRO
    BYOCFiltering:
      type: object
      properties:
        timeRange:
          $ref: '#/components/schemas/TimeRange'
        mosaickingOrder:
          description: >-
            The order in which tiles are overlapped from which the output result
            is mosaicked.
          type: string
          enum:
            - mostRecent
            - leastRecent
          default: mostRecent
    DEMFiltering:
      type: object
      properties:
        demInstance:
          description: Selects DEM instance.
          type: string
          enum:
            - MAPZEN
            - COPERNICUS_30
            - COPERNICUS_90
          default: MAPZEN
    TimeRange:
      type: object
      description: >-
        A time interval to filter data by acquisition date. It is defined by a
        start and end date and time, e.g. 2019-01-31T14:00:00+01:00. A date
        representation without time (e.g. 2019-01-31) will not work. Both the
        start and end of a time interval are inclusive and can be equal.
      properties:
        from:
          description: The start of a search interval.
          type: string
          format: date-time
        to:
          description: The end of a search interval.
          type: string
          format: date-time
      example:
        from: 2018-10-01T00:00:00.000Z
        to: 2018-11-01T00:00:00.000Z
    MaxCloudCoverage:
      description: The maximum allowable cloud coverage in percent.
      type: number
      format: double
      minimum: 0
      maximum: 100
      default: 100
    BaseDatasetProcessing:
      type: object
      properties:
        upsampling:
          description: |
            The interpolation used when the requested
            resolution is higher than the source resolution.
          type: string
          enum:
            - NEAREST
            - BILINEAR
            - BICUBIC
          default: NEAREST
        downsampling:
          description: |
            The interpolation used when the requested
            resolution is lower than the source resolution.
          type: string
          enum:
            - NEAREST
            - BILINEAR
            - BICUBIC
          default: NEAREST
    S2L1CProcessing:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDatasetProcessing'
        - type: object
          properties:
            atmosphericCorrection:
              description: Atmospheric correction filter.
              type: string
              enum:
                - NONE
                - DOS1
                - SENCOR
                - STATISTICAL
              default: NONE
    DEMProcessing:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDatasetProcessing'
        - type: object
          properties:
            clampNegative:
              type: boolean
              default: false
              description: >-
                Mapzen DEM specific option. It replaces negative orthometric
                heights with 0. Useful for removing ocean bathymetry, for
                example.
            egm:
              type: boolean
              default: false
              description: >-
                It replaces orthometric heights with ellipsoidal heights
                relative to the WGS84 ellipsoid.
    S1Processing:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDatasetProcessing'
        - type: object
          properties:
            backCoeff:
              type: string
              enum:
                - BETA0
                - SIGMA0_ELLIPSOID
                - GAMMA0_ELLIPSOID
                - GAMMA0_TERRAIN
              default: GAMMA0_ELLIPSOID
            orthorectify:
              type: boolean
              default: false
            demInstance:
              type: string
              enum:
                - MAPZEN
                - COPERNICUS
                - COPERNICUS_30
                - COPERNICUS_90
              default: MAPZEN
            radiometricTerrainOversampling:
              type: double
              minimum: 1
              maximum: 4
              default: 2
    S3SlstrProcessing:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDatasetProcessing'
        - type: object
          properties:
            view:
              description: The satellite view.
              type: string
              enum:
                - NADIR
                - OBLIQUE
              default: NADIR
    S5PProcessing:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseDatasetProcessing'
        - type: object
          properties:
            minQa:
              description: The minimum (inclusive) pixel quality to be displayed.
              type: integer
              format: int32
              minimum: 0
              maximum: 100
              default: 75 for NO2, 50 for the rest
    ProcessRequest:
      type: object
      required:
        - evalscript
        - input
      properties:
        input:
          $ref: '#/components/schemas/ProcessRequestInput'
        output:
          $ref: '#/components/schemas/ProcessRequestOutput'
        evalscript:
          description: >
            Your evalscript. For details, click

            <a href="https://docs.sentinel-hub.com/api/latest/evalscript/v3/"
            target="_blank">here</a>.
          type: string
    MultiPartProcessRequest:
      type: object
      properties:
        request:
          required:
            - input
          type: object
          properties:
            input:
              $ref: '#/components/schemas/ProcessRequestInput'
            output:
              $ref: '#/components/schemas/ProcessRequestOutput'
        evalscript:
          description: >
            Your evalscript. For details, click

            <a href="https://docs.sentinel-hub.com/api/latest/evalscript/v3/"
            target="_blank">here</a>.
          type: string
    ProcessRequestInput:
      title: Input
      type: object
      required:
        - bounds
        - data
      properties:
        bounds:
          $ref: '#/components/schemas/ProcessRequestInputBounds'
        data:
          $ref: '#/components/schemas/ProcessRequestInputData'
    ProcessRequestInputData:
      description: >
        The collections you wish to request, along with certain processing and
        filtering parameters.

        To learn how to request and work with multiple collection, check the
        "Data Fusion" page in our documentation
        https://docs.sentinel-hub.com/api/latest/data/data-fusion/.
      type: array
      minItems: 1
      items:
        oneOf:
          - $ref: '#/components/schemas/S2L1CDataset'
          - $ref: '#/components/schemas/S2L2ADataset'
          - $ref: '#/components/schemas/Ls8Dataset'
          - $ref: '#/components/schemas/L8L1Dataset'
          - $ref: '#/components/schemas/L8L2Dataset'
          - $ref: '#/components/schemas/ModisDataset'
          - $ref: '#/components/schemas/DEMDataset'
          - $ref: '#/components/schemas/S1Dataset'
          - $ref: '#/components/schemas/S3Dataset'
          - $ref: '#/components/schemas/S3SlstrDataset'
          - $ref: '#/components/schemas/S5PDataset'
          - $ref: '#/components/schemas/BYOCDataset'
    ProcessRequestInputBounds:
      title: Bounds
      description: >
        Defines the request bounds by specifying the bounding box and/or

        geometry for the request. If both are specified it will generate an
        image

        for the bounding box and render data contained within the geometry.
      type: object
      properties:
        bbox:
          description: >
            The request bounding box. This and/or GEOMETRY must be specified.

            Specify with a coordinate pair on two (opposite) vertices of the
            bounding

            box rectangle. Coordinates need to be in easting,northing or
            longitude, latitude,

            in that order in the CRS defined in the "bounds.properties.crs"
            parameter.
          type: array
          minItems: 4
          maxItems: 4
          items:
            type: number
            format: double
          example:
            - 13.822174072265625
            - 45.85080395917834
            - 14.55963134765625
            - 46.29191774991382
        geometry:
          allOf:
            - $ref: '#/components/schemas/Geometry'
        properties:
          $ref: '#/components/schemas/ProcessRequestInputBoundsProperties'
    ProcessRequestInputBoundsProperties:
      title: BoundsProperties
      type: object
      properties:
        crs:
          description: >
            The coordinate reference system of the coordinates. Must be

            one of the values listed at
            https://docs.sentinel-hub.com/api/latest/api/process/crs/.

            Default CRS is WGS84, http://www.opengis.net/def/crs/OGC/1.3/CRS84.
          type: string
          default: http://www.opengis.net/def/crs/OGC/1.3/CRS84
    ProcessRequestOutput:
      type: object
      properties:
        width:
          description: >
            The request image width. Must be an integer between 1 and 2500.

            <br />*Only one pair of parameters "width"/"height" or "resx"/"resy"
            must

            be set at the same time.*
          type: integer
          format: int32
          minimum: 1
          maximum: 2500
          default: 256
          example: 512
        height:
          description: >
            The request image height. Must be an integer between 1 and 2500.

            <br />*Only one pair of parameters "width"/"height" or "resx"/"resy"
            must

            be set at the same time.*
          type: integer
          format: int32
          minimum: 1
          maximum: 2500
          default: 256
          example: 512
        resx:
          description: >
            Spatial resolution of the request image in a horizontal direction.

            Its units are defined by the CRS given in
            "input.bounds.properties.crs"

            parameter. <br />*Only one pair of parameters "width"/"height" or
            "resx"/"resy"

            must be set at the same time.*
          type: number
          format: double
        resy:
          description: >
            Spatial resolution of the request image in a vertical direction.

            Its units are defined by the CRS given in
            "input.bounds.properties.crs"

            parameter. <br />*Only one pair of parameters "width"/"height" or
            "resx"/"resy"

            must be set at the same time.*
          type: number
          format: double
        responses:
          type: array
          description: |
            Response object(s). <br/>
            If you request multiple responses, set the `Accept` header to
            `application/tar`, `application/x-tar` or `multipart/mixed`.
          items:
            $ref: '#/components/schemas/ProcessRequestOutputResponse'
    ProcessRequestOutputResponse:
      type: object
      properties:
        identifier:
          type: string
          description: >
            Response's identifier is used to connect the results of an
            evalscript with the output file.

            Each response identifier value must either match one of the values
            in `setup()` -> `output.id` in the evalscript (see <a
            href="https://docs.sentinel-hub.com/api/latest/data/sentinel-2-l1c/examples/#ndvi-image--and--value-multi-part-response-png-and-geotiff"
            target="_blank">example</a>)

            or be `userdata` (see <a
            href="https://docs.sentinel-hub.com/api/latest/data/sentinel-2-l1c/examples/#true-color-and-metadata-multi-part-response-geotiff-and-json"
            target="_blank">example</a>).
          enum:
            - <identifier>
            - userdata
        format:
          description: Format object (default is `image/png`).
          type: object
          oneOf:
            - $ref: '#/components/schemas/ProcessRequestOutputFormatPng'
            - $ref: '#/components/schemas/ProcessRequestOutputFormatJpeg'
            - $ref: '#/components/schemas/ProcessRequestOutputFormatTiff'
            - $ref: '#/components/schemas/ProcessRequestOutputFormatJson'
    ProcessRequestOutputFormat:
      type: object
      properties:
        type:
          type: string
          description: Output format mime-type
    ProcessRequestOutputFormatJpeg:
      title: image/jpeg
      type: object
      allOf:
        - $ref: '#/components/schemas/ProcessRequestOutputFormat'
        - type: object
          properties:
            quality:
              description: Quality level of JPEG compression.
              type: integer
              format: int32
              minimum: 0
              maximum: 100
              default: 90
            type:
              type: string
              enum:
                - image/jpeg
    ProcessRequestOutputFormatPng:
      title: image/png
      type: object
      allOf:
        - $ref: '#/components/schemas/ProcessRequestOutputFormat'
        - type: object
          properties:
            type:
              type: string
              enum:
                - image/png
    ProcessRequestOutputFormatTiff:
      title: image/tiff
      type: object
      allOf:
        - $ref: '#/components/schemas/ProcessRequestOutputFormat'
        - type: object
          properties:
            type:
              type: string
              enum:
                - image/tiff
    ProcessRequestOutputFormatJson:
      title: application/json
      type: object
      allOf:
        - $ref: '#/components/schemas/ProcessRequestOutputFormat'
        - type: object
          properties:
            type:
              type: string
              enum:
                - application/json
    StatisticalRequest:
      required:
        - processRequest
      type: object
      properties:
        input:
          $ref: '#/components/schemas/ProcessRequestInput'
        aggregation:
          $ref: '#/components/schemas/StatisticalRequestAggregation'
        calculations:
          description: >
            Define which statistics and histogram to calculate. It can be
            specified differently for each evalscript output. 
          type: object
          additionalProperties:
            x-additionalPropertiesName: output name
            allOf:
              - $ref: '#/components/schemas/CalculationDefinition'
    MultiPartStatisticalRequest:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/StatisticalRequest'
        evalscript:
          description: >
            Block of JavaScript code that will replace the evalscript property
            of the statistics request.
          type: string
    Aggregation:
      required:
        - of
      description: |
        Specifies how given time range is split into time intervals.
      type: object
      properties:
        of:
          description: >
            Duration in ISO 8601 duration format, check
            [here](https://docs.sentinel-hub.com/api/latest/api/statistical/#split-requested-timerange-into-multiple-time-intervals)
            for more details. 
          type: string
    CalculationDefinition:
      description: >-
        The name of the output (as key) for which a calculation of statistics
        and histogram are defined below. Each key must match with one of the
        `output.id` specified in a `setup()` function in an evalscript or be
        "default". If it is "default", the specified statistics and histogram
        will be calculated for all outputs, for which calculation of statistics
        is not explicitly defined.
      type: object
      properties:
        histograms:
          description: >
            Histogram definitions. It can be specified differently for each band
            in this output.
          type: object
          additionalProperties:
            x-additionalPropertiesName: band name
            allOf:
              - $ref: '#/components/schemas/HistogramDefinition'
        statistics:
          description: >
            Statistics definitions. It can be specified differently for each
            band in this output.
          type: object
          additionalProperties:
            x-additionalPropertiesName: band name
            allOf:
              - $ref: '#/components/schemas/StatisticsDefinition'
    HistogramDefinition:
      description: >
        The name of the band (as key) for which a histogram is defined below.
        Each key must match with one of the band names

        `output.bands` specified in a `setup()` function in an evalscript (for
        this output) or be "default". If it is "default", 

        the histogram specified below will be returned for all bands of this
        output, for which histogram is not explicitly defined.


        Single band histogram definition. Histogram may be defined by providing
        one of the following properties:
          * `binWidth`
          * `nBins`
          * exact bins provided by `bins` array

        [This
        example](https://docs.sentinel-hub.com/api/latest/api/statistical/examples/#multiple-outputs-with-different-datamasks-multi-band-output-with-custom-bands-names-different-histogram-types) 

        shows how to specify histograms using different parameters.


        `lowEdge` and `highEdge` are automatically calculated, if not explicitly
        provided (min and max values are used, respectively).

        Histograms can be calculated using float or integer math. Providing
        `lowEdge` and `highEdge` or `binWidth` or

        elements of the `bins` array as integer numbers will select integer
        math, otherwise float

        will be used. Output type of the band's output (specified in
        `output.sampleType` in a `setup()` function in an evalscript) must also
        match.
      type: object
      properties:
        nBins:
          description: |
            Number of bins in the histogram.
          type: number
        binWidth:
          description: |
            Bin width.
          type: number
        lowEdge:
          description: >
            Values lower to this will not be included in any of the histogram's
            bins.
          type: number
        highEdge:
          description: >
            Values higher to this will not be included in any of the histogram's
            bins.
          type: number
        bins:
          description: |
            Explicitly defined bins.
            Array [v1,v2,v3,v4] will define the following bins:
            [v1,v2), [v2,v3), [v3,v4]
          type: array
          items:
            type: number
            minItems: 2
    StatisticsDefinition:
      description: >-
        Single band statistics definition. The name of the band (as key) for
        which a calculation of statistic is defined below. Each key must match
        with one of the band names `output.bands` specified in a `setup()`
        function in an evalscript (for this output) or be "default". If it is
        "default", the statistics specified below will be calculated for all
        bands of this output, for which calculation of statistics is not
        explicitly defined.
      type: object
      properties:
        percentiles:
          description: Calculate percentiles.
          type: object
          properties:
            k:
              description: >
                Percentiles definition as array of values between [0,1], [see
                this
                example](https://docs.sentinel-hub.com/api/latest/api/statistical/examples/#statistics-histogram-and-percentiles-for-one-single-band-output).
              type: array
              items:
                type: number
                format: double
                minValue: 0
                maxValue: 1
    StatisticalRequestAggregation:
      required:
        - timeRange
        - aggregationInterval
      description: >
        Specifies how data is aggregated and processed before statistics is
        calculated.  `timeRange` and `aggregationInterval` combined define
        sampling intervals in time dimension.  Width/height or resx/resy
        combined with `input.bounds` define a sample matrix (i.e. "image") in
        spatial dimension.
      type: object
      properties:
        timeRange:
          $ref: '#/components/schemas/DateTimeInterval'
        aggregationInterval:
          $ref: '#/components/schemas/Aggregation'
        width:
          description: |
            Width of the sample matrix.
          type: integer
          format: int32
          minimum: 1
          maximum: 2500
          default: 256
          example: 512
        height:
          description: |
            Height of the sample matrix.
          type: integer
          format: int32
          minimum: 1
          maximum: 2500
          default: 256
          example: 512
        resx:
          description: >
            Spatial resolution used to calculate the width of the sample matrix
            from the `input.bounds`.

            Its units are defined by the CRS given in
            `input.bounds.properties.crs`

            parameter.
          type: number
          format: double
        resy:
          description: >
            Spatial resolution used to calculate the height of the sample matrix
            from the `input.bounds`.

            Its units are defined by the CRS given in
            `input.bounds.properties.crs`

            parameter.
          type: number
          format: double
        evalscript:
          description: >
            Your evalscript. For details, click

            <a href="https://docs.sentinel-hub.com/api/latest/evalscript/v3/"
            target="_blank">here</a>. 

            The evalscript will be executed once for each time interval defined
            by `timeRange` and `aggregationInterval`.
          type: string
    StatisticalResponse:
      description: |
        Statistics
      type: object
      properties:
        data:
          description: |
            Statistics for intervals, where data is available.
          type: array
          items:
            type: object
            properties:
              interval:
                description: |
                  Interval on which, there's actual data
                allOf:
                  - $ref: '#/components/schemas/DateTimeInterval'
              outputs:
                description: |
                  Per output statistics.
                  Output names are defined in evalscript.
                type: object
                additionalProperties:
                  x-additionalPropertiesName: output name
                  type: object
                  properties:
                    bands:
                      description: |
                        Per band statistics and histograms.
                      type: object
                      additionalProperties:
                        x-additionalPropertiesName: band name
                        allOf:
                          - $ref: '#/components/schemas/BandStatistics'
              error:
                description: >
                  If an error occurs when calculating statistics for a given
                  interval it is reported here.
                type: object
                properties:
                  type:
                    type: string
                    enum:
                      - BAD_REQUEST
                      - EXECUTION_ERROR
                      - TIMEOUT
    BandStatistics:
      type: object
      description: |
        Per band statistics and histograms
      properties:
        histogram:
          description: Histogram
          type: object
          properties:
            overflow:
              description: |
                Number of samples above `highEdge` value
              type: number
              format: integer
            underflow:
              description: |
                Number of samples below `lowEdge` value
              type: number
              format: integer
            bins:
              description: |
                Histogram bins
              type: array
              items:
                type: object
                properties:
                  lowEdge:
                    description: Bin's low edge (inclusive)
                    type: number
                  highEdge:
                    description: Bin's high edge (not inclusive unless last bin)
                    type: number
                  count:
                    description: number of samples that fall into the bin
                    type: number
                    format: integer
        stats:
          type: object
          description: Statistics
          properties:
            min:
              description: minimum value
              type: number
            max:
              description: maximum value
              type: number
            mean:
              description: mean value
              type: number
            stDev:
              description: standard deviation
              type: number
            sampleCount:
              description: total number of samples
              type: number
              format: integer
            noDataCount:
              description: total number of samples without value
              type: number
              format: integer
            percentiles:
              description: |
                Percentile to percentile value map.
              type: object
              additionalProperties:
                x-additionalPropertiesName: percentile [0,1]
                type: number
                format: double
    BatchProcessRequest:
      required:
        - processRequest
      type: object
      properties:
        id:
          description: Identifier
          type: string
          format: uuid
          readOnly: true
        userId:
          description: User that submitted the request
          type: string
          format: uuid
          readOnly: true
        created:
          description: Creation time of the request in ISO 8601
          type: string
          format: iso8601
          readOnly: true
        processRequest:
          $ref: '#/components/schemas/ProcessRequestForBatch'
        tilingGridId:
          description: This parameter was moved to tilingGrid
          type: integer
          format: int64
          deprecated: true
        tilingGrid:
          $ref: '#/components/schemas/TilingGridSettings'
        resolution:
          description: This parameter was moved to tilingGrid.
          type: number
          format: double
          deprecated: true
        output:
          $ref: '#/components/schemas/BatchProcessOutput'
        bucketName:
          description: >
            Simplified alternative for specifying where the results shall be
            written, where only the bucket name is specified. Required unless
            `output` is specified. <br/> Specifying `some.bucket` as
            `bucketName` is equivalent to specifying `s3://some.bucket` as the
            `defaultTilePath` in `output`.
          type: string
        description:
          description: Optional description that can be used to keep track of requests
          type: string
        valueEstimate:
          description: >
            Estimated processing value (cost) of the request in [processing
            units](https://docs.sentinel-hub.com/api/latest/api/overview/processing-unit/).
            The accuracy of the estimate depends on your request, as described
            in the
            [documentation](https://docs.sentinel-hub.com/api/latest/api/batch/#cost-estimate).
          type: number
          format: double
          readOnly: true
        tileCount:
          description: Number of output tiles
          type: integer
          format: int32
          readOnly: true
        tileWidthPx:
          description: Tile width in pixels
          type: integer
          format: int32
          readOnly: true
        tileHeightPx:
          description: Tile height in pixels
          type: integer
          format: int32
          readOnly: true
        userAction:
          description: Last user action on the request
          type: string
          enum:
            - NONE
            - ANALYSE
            - START
            - CANCEL
          readOnly: true
        userActionUpdated:
          description: Time of last user action update in ISO 8601
          type: string
          format: iso8601
          readOnly: true
        status:
          description: Current processing status of the request
          type: string
          enum:
            - CREATED
            - ANALYSING
            - ANALYSIS_DONE
            - PROCESSING
            - DONE
            - PARTIAL
            - FAILED
            - CANCELED
          readOnly: true
        error:
          description: >-
            Error description for requests that were submitted but failed during
            analysis or processing
          type: string
          readOnly: true
    MultiPartBatchRequest:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/BatchProcessRequest'
        evalscript:
          description: Block of JavaScript code.
          type: string
    BatchProcessRequestUpdatePayload:
      type: object
      properties:
        output:
          description: >-
            Modified `output` object. If omitted, no values within `output` will
            be changed.
          type: object
          properties:
            collectionId:
              description: >
                The batch collection to link this batch process request to. The
                collection must exist and be either compatible with the batch
                process request (same band names and bit depths) or
                uninitialized, in which case it will get initialized with the
                batch process request's parameters. If omitted, the batch
                process request will be unlinked from its current collection.
              type: string
              default: null
        description:
          description: >
            Optional description that can be used to keep track of requests. If
            omitted, the description will not be changed.
          type: string
    BatchCollection:
      required:
        - name
      allOf:
        - $ref: '#/components/schemas/BYOCCollection'
        - type: object
          properties:
            batchData:
              type: object
              properties:
                tilingGridId:
                  description: ID of the tiling grid
                  type: long
                  readonly: true
    BatchCollectionUpdatePayload:
      type: object
      properties:
        name:
          description: Collection name
          type: string
    TilingGridSettings:
      required:
        - id
        - resolution
      description: |
        Tiling grid settings.
      type: object
      properties:
        id:
          description: Id of one of the supported tiling grids
          type: integer
          format: int64
        resolution:
          description: Output resolution in units of the tiling grid
          type: number
          format: double
        bufferX:
          description: >
            Will expand each output tile horizontally (on the left and the
            right) by number of pixels specified by this value. <br><br>
            <b>Example:</b> <br> If bufferX is 5, the output tile will be wider
            by 10 pixels. Coordinates of the tile are also moved accordingly by
            the number of pixels multiplied by resolution in each direction.
            However, the `tileWidthX` property returned by the API will **not**
            include the buffer.
          type: int16
        bufferY:
          description: >
            Will expand each output tile vertically (on the top and the bottom)
            by number of pixels specified by this value. See `bufferX` above for
            an example.
          type: int16
    BatchProcessOutput:
      description: >
        Specifies the tile output paths where the results shall be written.
        Required unless `bucketName` is specified.
      type: object
      properties:
        defaultTilePath:
          description: >
            Path or path template specifying where batch processing results
            shall be stored. Supported formats: <ul>
              <li>a valid Amazon S3 URL, e.g. `s3://some.bucket/some/folder`.<br/>
                A subdirectory will be created for this batch request, named after the request ID, and will contain further subdirectories with the output tiles.
                This is equivalent to the template `s3://some.bucket/some/folder/<requestId>/<tileName>/<outputId>.<format>`.
              </li>
              <li>a templated Amazon S3 URL, e.g. `s3://some.bucket/some/folder/<tileName>.tif`.
                Templating allows custom organization of the output files.
                Templates can contain the following placeholders, which are replaced by respective actual values when writing results:
                <ul>
                  <li> `<requestId>` - the ID of your batch request,</li>
                  <li> `<tileName>` - the name (string ID) of the tile within the used tiling grid,</li>
                  <li> `<tileId>` - the numerical ID of the tile within the used tiling grid,</li>
                  <li> `<outputId>` - the output (raster) identifier (e.g. `default`),</li>
                  <li> `<format>` - the filename extension of the output's format (e.g. `tiff`),</li>
                </ul>
                The template must contain `<tileName>` or `<tileId>` in order to ensure unique output files.
                In case of multiple outputs, the template must also contain `<outputId>`.
              </li>
            </ul> The request will fail if files already exist.
          type: string
        overwrite:
          description: >-
            If `true`, the request will NOT fail if files already exist.
            Instead, any existing files will be overwritten.
          default: false
          type: boolean
        cogOutput:
          description: >-
            If `true`, the results will be written as COG (cloud optimized
            GeoTIFFs). All outputs must use the TIFF format. We also suggest
            setting the evalscript output object `nodataValue` (<a
            href="https://docs.sentinel-hub.com/api/latest/evalscript/v3/#output-object-properties"
            target="_blank">more details</a>) for correct overview generation.
          default: false
          type: boolean
        cogParameters:
          $ref: '#/components/schemas/BatchCogParameters'
        createCollection:
          description: >
            If `true`, the results will be written as COG (cloud optimized
            GeoTIFFs) and a collection will be automatically created. All
            outputs must be single-band and use the TIFF format. Only one of
            *createCollection* and *collectinId* may be specified. Requires
            `"cogOutput"=true`.
          type: boolean
          default: false
        collectionId:
          description: >
            If provided, the results will be written as COG (cloud optimized
            GeoTIFFs) and added to the existing collection with the specified
            identifier. All outputs must be single-band and use the TIFF format.
            The collection must exist and be compatible -- that is, must contain
            bands equivalent to the batch request's outputs with the same bit
            depths. Only one of *createCollection* and *collectinId* may be
            specified. Requires `"cogOutput"=true`.
          type: string
          default: null
        responses:
          description: >
            Specification of path template for individual outputs/responses.
            Outputs/reponses not listed here will use `defaultTilePath`.
          type: array
          items:
            $ref: '#/components/schemas/BatchProcessOutputResponse'
    BatchProcessOutputResponse:
      type: object
      properties:
        identifier:
          type: string
          description: Raster identifier value.
          enum:
            - <identifier>
            - userdata
        tilePath:
          description: >-
            Path or path template where the response shall be written. Uses the
            same format as `defaultTilePath`.
          type: string
    BatchCogParameters:
      description: >
        Allows to specify COG creation parameters. Batch collections must use
        default values, therefore *cogParameters* must not be specified together
        with *createCollection* or *collectionId*.
      type: object
      properties:
        overviewLevels:
          description: >-
            Corresponds to the *levels* parameter of
            [gdaladdo](https://gdal.org/programs/gdaladdo.html).
          type: array
          items:
            type: integer
        overviewMinSize:
          description: >-
            Corresponds to the *minsize* parameter of
            [gdaladdo](https://gdal.org/programs/gdaladdo.html).
          type: integer
          default: min(blockxsize, blockysize)
        resamplingAlgorithm:
          type: string
          enum:
            - nearest
            - average
            - gauss
            - cubic
            - cubicspline
            - lanczos
            - average_magphase
            - mode
          description: >-
            Corresponds to the value of the *-r* parameter of
            [gdaladdo](https://gdal.org/programs/gdaladdo.html).
          default: average
        blockxsize:
          description: >-
            Corresponds to the *BLOCKXSIZE* parameter of [GDAL GTiff raster
            driver](https://gdal.org/drivers/raster/gtiff.html).
          type: integer
          default: 1024
        blockysize:
          description: >-
            Corresponds to the *BLOCKYSIZE* parameter of [GDAL GTiff raster
            driver](https://gdal.org/drivers/raster/gtiff.html).
          type: integer
          default: 1024
        usePredictor:
          description: >
            Whether predictor should be used for TIFF compression. If true, the
            predictor "2" will be passed to [GDAL GTiff raster
            driver](https://gdal.org/drivers/raster/gtiff.html) in case of
            integer output and "3" for FLOAT32 output. If false, the value "1"
            (no predictor) will be used.
          type: boolean
          default: true
    BatchTile:
      type: object
      properties:
        id:
          description: Identifier
          type: integer
          format: int64
        requestId:
          description: ID of the request the tile belongs to
          type: string
          format: uuid
        geometry:
          $ref: '#/components/schemas/Polygon'
        origin:
          $ref: '#/components/schemas/BatchTileOrigin'
        status:
          description: Current processing status of the tile
          type: string
          enum:
            - PENDING
            - SCHEDULED
            - QUEUED
            - PROCESSING
            - PROCESSED
            - FAILED
        error:
          description: Error description for tiles that failed during processing.
          type: string
        cost:
          description: Tile processing cost (PU)
          type: number
          format: double
    BatchTileOrigin:
      description: Coordinates of the tile origin (lower left corner) in the tile's CRS.
      type: object
      properties:
        type:
          type: string
          enum:
            - Point
        coordinates:
          type: array
          minItems: 2
          maxItems: 2
          items:
            type: number
            format: double
        crs:
          type: object
          properties:
            type:
              type: string
              enum:
                - name
            properties:
              type: object
              properties:
                name:
                  type: string
                  description: CRS used by the tile, e.g. `urn:ogc:def:crs:EPSG::4326`
                  example: urn:ogc:def:crs:EPSG::4326
    TilingGridDescriptor:
      type: object
      properties:
        id:
          description: Identifier
          type: integer
          format: int64
        name:
          type: string
        properties:
          $ref: '#/components/schemas/TilingGridDescriptorProperties'
    TilingGridDescriptorProperties:
      type: object
      properties:
        tileWidth:
          description: Width of each output tile, in units used by the grid
          type: number
          format: double
        tileHeight:
          description: Height of each output tile, in units used by the grid
          type: number
          format: double
        resolutions:
          description: List of supported resolutions, in units used by the grid
          type: array
          uniqueItems: true
          items:
            type: number
            description: List of supported resolutions, in units used by the grid
            format: double
        unit:
          description: Units used by the grid
          type: string
          enum:
            - METRE
            - DEGREE
    ProcessRequestForBatch:
      type: object
      description: >-
        Batch processing equivalent of the <a href="#operation/process">Process
        request</a>.
      required:
        - evalscript
        - input
      properties:
        input:
          $ref: '#/components/schemas/ProcessRequestInput'
        output:
          $ref: '#/components/schemas/ProcessRequestOutputForBatch'
        evalscript:
          description: >
            Your evalscript. For details, click

            <a href="https://docs.sentinel-hub.com/api/latest/evalscript/v3/"
            target="_blank">here</a>.
          type: string
    ProcessRequestOutputForBatch:
      type: object
      properties:
        responses:
          type: array
          description: Response object.
          items:
            $ref: '#/components/schemas/ProcessRequestOutputResponse'
    NativeSearchQuery:
      oneOf:
        - $ref: '#/components/schemas/AirbusNativeSearchQuery'
        - $ref: '#/components/schemas/PlanetNativeSearchQuery'
        - $ref: '#/components/schemas/MaxarNativeSearchQuery'
    SearchQuery:
      oneOf:
        - $ref: '#/components/schemas/AirbusSearchQuery'
        - $ref: '#/components/schemas/PlanetSearchQuery'
        - $ref: '#/components/schemas/MaxarSearchQuery'
    SearchResults:
      oneOf:
        - $ref: '#/components/schemas/AirbusSearchResults'
        - $ref: '#/components/schemas/PlanetSearchResults'
        - $ref: '#/components/schemas/MaxarSearchResults'
    OrderRequest:
      oneOf:
        - $ref: '#/components/schemas/AirbusOrderRequest'
        - $ref: '#/components/schemas/PlanetOrderRequest'
        - $ref: '#/components/schemas/MaxarOrderRequest'
    Order:
      allOf:
        - $ref: '#/components/schemas/OrderBase'
        - type: object
          properties:
            input:
              type: object
              description: Specification of the ordered data
    SearchQueryBase:
      required:
        - provider
        - bounds
        - data
      properties:
        provider:
          type: string
        bounds:
          allOf:
            - type: object
              description: >
                Defines the request bounds by specifying the bounding box and/or
                geometry for the request.

                If both are given, a request is made for a geometry and bbox is
                ignored.
            - $ref: '#/components/schemas/ProcessRequestInputBounds'
        data:
          type: array
          minItems: 1
          maxItems: 1
          items:
            type: object
            properties:
              dataFilter:
                type: object
                properties:
                  timeRange:
                    $ref: '#/components/schemas/TimeRange'
                  maxCloudCoverage:
                    $ref: '#/components/schemas/MaxCloudCoverage'
    SearchResultBase:
      properties:
        links:
          $ref: '#/components/schemas/View'
    OrderBase:
      type: object
      required:
        - geometry
      properties:
        id:
          description: Order ID
          type: string
          format: uuid
          readOnly: true
        name:
          description: >-
            Order name. It's also used as a name for new BYOC collection, if no
            collection is given in collectionId field.
          type: string
        userId:
          description: User ID
          type: string
          format: uuid
          readOnly: true
        collectionId:
          description: >
            BYOC collection ID. If given at order creation, requested data is
            imported into referenced collection, which must be compatible with
            the data being ordered - that is, must either be empty or contain
            the same bands as the data being ordered.


            If not given at order creation, a new BYOC collection is created and
            its ID is returned in the response.
          type: string
          format: uuid
        status:
          $ref: '#/components/schemas/OrderStatus'
        sqkm:
          description: Total size of the order in km<sup>2</sup>
          type: number
          readOnly: true
    OrderStatus:
      description: Order status
      type: string
      readOnly: true
      enum:
        - CREATED
        - CANCELLED
        - RUNNING
        - DONE
        - PARTIAL
        - FAILED
    DeliveryBase:
      type: object
      properties:
        id:
          description: Delivery ID
          type: string
          format: uuid
        sqkm:
          description: Size of the delivery in km<sup>2</sup>.
          type: number
        status:
          $ref: '#/components/schemas/DeliveryStatus'
        errorMessage:
          description: Error message if status = "DELIVERY_FAILED" or "IMPORT_FAILED".
          type: string
    Delivery:
      oneOf:
        - $ref: '#/components/schemas/AirbusDelivery'
        - $ref: '#/components/schemas/PlanetDelivery'
        - $ref: '#/components/schemas/MaxarDelivery'
    DeliveryStatus:
      description: Delivery status
      type: string
      readOnly: true
      enum:
        - WAITING
        - DELIVERED
        - DELIVERY_FAILED
        - PREPARING
        - INGESTING
        - DONE
        - IMPORT_FAILED
    Quota:
      type: object
      properties:
        collectionId:
          $ref: '#/components/schemas/TpdiCollectionId'
        quotaSqkm:
          type: number
          description: >-
            This is total purchased quota. Available quota is quotaSqkm -
            quotaUsed.
          readOnly: true
        quotaUsed:
          type: number
          description: Quota used in square kilometers.
          readOnly: true
    TpdiCollectionId:
      description: Collection ID
      type: string
      readOnly: true
      enum:
        - AIRBUS_PLEIADES
        - AIRBUS_SPOT
        - PLANET_SCOPE
        - MAXAR_WORLDVIEW
    QuotaExceededError:
      allOf:
        - $ref: '#/components/schemas/Boom'
        - type: object
          properties:
            errors:
              type: object
              properties:
                availableQuota:
                  type: number
                  description: Currently available quota for the provider of the order
                requiredQuota:
                  type: number
                  description: >-
                    Quota that would be required for successful confirmation of
                    the order
    PlanetRequestBase:
      type: object
      required:
        - provider
        - planetApiKey
      properties:
        provider:
          description: Specify this value to use data provider Planet.
          type: string
          enum:
            - PLANET
        planetApiKey:
          description: Your Planet API key. Get one from Planet https://www.planet.com.
          type: string
    PlanetNativeSearchQuery:
      allOf:
        - $ref: '#/components/schemas/PlanetRequestBase'
        - type: object
          example:
            provider: PLANET
            item_types:
              - PSScene4Band
            filter:
              type: AndFilter
              config:
                - type: GeometryFilter
                  field_name: geometry
                  config:
                    type: Polygon
                    coordinates:
                      - - - 15.786
                          - 46.7008
                        - - 15.786
                          - 46.7234
                        - - 15.8473
                          - 46.7234
                        - - 15.8473
                          - 46.7008
                        - - 15.786
                          - 46.7008
                - type: DateRangeFilter
                  field_name: acquired
                  config:
                    gte: '2019-04-27T00:00:00.000Z'
                    lte: '2019-04-30T00:00:00.000Z'
                - type: RangeFilter
                  field_name: cloud_cover
                  config:
                    lte: 0.3
          additionalProperties:
            externalDocs:
              description: Fields from Request body of Planet Quick search.
              url: >-
                https://developers.planet.com/docs/data/reference/#operation/QuickSearch
    PlanetSearchQuery:
      allOf:
        - $ref: '#/components/schemas/PlanetRequestBase'
        - $ref: '#/components/schemas/SearchQueryBase'
        - type: object
          properties:
            data:
              type: array
              minItems: 1
              maxItems: 1
              items:
                type: object
                required:
                  - itemType
                properties:
                  itemType:
                    type: string
                    description: |
                      Set to PSScene4Band to get PlanetScope data.
                    enum:
                      - PSScene4Band
                  dataFilter:
                    type: object
                    properties:
                      nativeFilter:
                        type: object
                        description: Planet Data API search filters
                        externalDocs:
                          description: >-
                            Link to the Planet documentation page about search
                            filters.
                          url: >-
                            https://developers.planet.com/docs/data/searches-filtering/#search-filters
                        example:
                          type: RangeFilter
                          field_name: snow_ice_percent
                          config:
                            gte: 10
    PlanetSearchResults:
      allOf:
        - $ref: '#/components/schemas/SearchResultBase'
      properties:
        features:
          type: array
          externalDocs:
            description: Search results as returned by Planet Quick search
            url: >-
              https://developers.planet.com/docs/data/reference/#operation/QuickSearch
        <other fields>:
          type: any
          description: >-
            Other fields returned by Planet Quick search may be included in the
            response.
    PlanetOrderRequest:
      allOf:
        - $ref: '#/components/schemas/Order'
        - required:
            - input
        - type: object
          properties:
            input:
              allOf:
                - $ref: '#/components/schemas/PlanetSearchQuery'
                - type: object
                  properties:
                    data:
                      type: array
                      description: >
                        To order specific Planet items, list their IDs in
                        itemIds field. Otherwise, provide search criteria in the
                        dataFilter field to order all items matching the
                        criteria. Omitting both will order all items within the
                        specified bounds.


                        In both cases, at most 250 items can be ordered at once,
                        i.e. orders listing too many item IDs will fail, as will
                        search-based orders that match too many items.
                      items:
                        type: object
                        required:
                          - productBundle
                        properties:
                          productBundle:
                            type: string
                            enum:
                              - analytic
                          harmonizeTo:
                            type: string
                            default: PS2
                            enum:
                              - PS2
                              - NONE
                            description: >
                              Sensing instrument whose values the data should be
                              harmonized to. Currently only harmonization to the
                              instrument `PS2` is supported and is also the
                              default. To disable harmonization and instead
                              import the data as-is, this field must be
                              explicitly set to `NONE`.
                            externalDocs:
                              description: Details on PlanetScope instruments
                              url: https://developers.planet.com/docs/data/sensors/
                          itemIds:
                            type: array
                            minItems: 1
                            maxItems: 250
                            description: >
                              List of itemIds to order, if dataFilter is not
                              provided. The itemId list is typically obtained
                              from a previous search request.
                            items:
                              type: string
    PlanetDelivery:
      allOf:
        - $ref: '#/components/schemas/DeliveryBase'
        - type: object
          properties:
            itemId:
              description: Planet Item ID.
              type: string
            sensingInstrument:
              type: string
              enum:
                - PS2
                - PS2.SD
                - PSB.SD
              description: >
                PlanetScope instrument used to capture the data in this
                delivery. Only present if harmonization was requested when
                ordering.
            harmonizedToInstrument:
              type: string
              enum:
                - PS2
              description: >
                Instrument whose coefficients were used to harmonize the data in
                this delivery. Only present if harmonization was requested when
                ordering.
    AirbusRequestBase:
      type: object
      required:
        - provider
      properties:
        provider:
          description: Specify this value to use data provider Airbus OneAtlas.
          type: string
          enum:
            - AIRBUS
    AirbusNativeSearchQuery:
      allOf:
        - $ref: '#/components/schemas/AirbusRequestBase'
        - type: object
          example:
            provider: AIRBUS
            geometry:
              type: Polygon
              coordinates:
                - - - 14.458696
                    - 45.996878
                  - - 14.458696
                    - 46.002617
                  - - 14.463096
                    - 46.002617
                  - - 14.463096
                    - 45.996878
                  - - 14.458696
                    - 45.996878
            constellation: PHR
            processingLevel: SENSOR
            acquisitionDate: '[2018-06-01T00:00:00.000Z,2018-09-01T00:00:00.000Z]'
            cloudCover: '[0,30]'
            snowCover: '[0,10]'
            incidenceAngle: '[0,10]'
          additionalProperties:
            externalDocs:
              description: Fields from Request body of Airbus OneAtlas search.
              url: http://www.geoapi-airbusds.com/guides/oneatlas-data/g-search/
    AirbusSearchQuery:
      allOf:
        - $ref: '#/components/schemas/AirbusRequestBase'
        - $ref: '#/components/schemas/SearchQueryBase'
        - type: object
          properties:
            data:
              type: array
              minItems: 1
              maxItems: 1
              items:
                type: object
                required:
                  - constellation
                properties:
                  constellation:
                    type: string
                    description: |
                      Set to PHR to get Pleiades data or to SPOT for SPOT data.
                    enum:
                      - PHR
                      - SPOT
                  dataFilter:
                    type: object
                    properties:
                      processingLevel:
                        $ref: '#/components/schemas/AirbusProcessingLevel'
                      maxSnowCoverage:
                        $ref: '#/components/schemas/MaxSnowCoverage'
                      maxIncidenceAngle:
                        $ref: '#/components/schemas/MaxIncidenceAngle'
                      expirationDate:
                        $ref: '#/components/schemas/TimeRange'
    AirbusProcessingLevel:
      type: string
      description: >
        When searching, you will receive results from the full catalog as well
        as the Living Library, which holds images that have cloud cover under
        30% and Incidence angle under 40°. If you want to search only Living
        Library results, you will need to filter using processingLevel. This
        value could be equal to SENSOR (images which meet Living Library
        criteria) and ALBUM (images that do not meeting Living Library criteria
        in terms of incidence angle and cloud cover).
      enum:
        - SENSOR
        - ALBUM
    MaxSnowCoverage:
      description: The maximum allowable snow coverage in percent.
      type: number
      format: double
      minimum: 0
      maximum: 100
      default: 100
    MaxIncidenceAngle:
      description: The maximum allowable incidence angle in degrees.
      type: number
      format: double
      minimum: 0
      maximum: 90
      default: 90
    AirbusSearchResults:
      allOf:
        - $ref: '#/components/schemas/SearchResultBase'
      properties:
        features:
          type: array
          externalDocs:
            description: Search results as returned by Airbus OneAtlas search
            url: http://www.geoapi-airbusds.com/guides/oneatlas-data/g-search/
        <other fields>:
          type: any
          description: >-
            Other fields returned by Airbus OneAtlas search may be included in
            the response.
    AirbusOrderRequest:
      allOf:
        - $ref: '#/components/schemas/Order'
        - required:
            - input
        - type: object
          properties:
            input:
              allOf:
                - $ref: '#/components/schemas/AirbusSearchQuery'
                - type: object
                  properties:
                    data:
                      type: array
                      description: >
                        To order specific Airbus OneAtlas products, list them in
                        products field. Otherwise, provide search criteria in
                        the dataFilter field to order all items matching the
                        criteria. Omitting both will order all products within
                        the specified bounds.


                        In both cases, at most 10 products can be ordered at
                        once, i.e. orders listing too many product IDs will
                        fail, as will search-based orders that match too many
                        products.
                      items:
                        type: object
                        properties:
                          products:
                            type: array
                            minItems: 1
                            maxItems: 10
                            description: >
                              Only provide this field when ordering specific
                              Airbus OneAtlas products -- leave out when
                              ordering via search criteria.
                            items:
                              type: object
                              description: TODO2
                              required:
                                - id
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                  description: The ID of product to order
    AirbusDelivery:
      allOf:
        - $ref: '#/components/schemas/DeliveryBase'
        - type: object
          properties:
            productId:
              description: Airbus Product ID.
              type: string
              format: uuid
    MaxarRequestBase:
      type: object
      required:
        - provider
      properties:
        provider:
          description: Specify this value to use data provider Maxar.
          type: string
          enum:
            - MAXAR
    MaxarNativeSearchQuery:
      allOf:
        - $ref: '#/components/schemas/MaxarRequestBase'
        - type: object
          example:
            provider: MAXAR
            startDate: '2020-11-06T00:00:00.0Z'
            endDate: '2020-11-06T23:59:59.0Z'
            sensor: WV03
            aoiInGeoJson:
              type: Polygon
              coordinates:
                - - - 15.81
                    - 46.7
                  - - 15.84
                    - 46.7
                  - - 15.84
                    - 46.72
                  - - 15.81
                    - 46.72
                  - - 15.81
                    - 46.7
              crs:
                type: name
                properties:
                  name: EPSG:4326
          additionalProperties:
            description: Fields from request body of MAXAR search.
    MaxarSearchQuery:
      allOf:
        - $ref: '#/components/schemas/MaxarRequestBase'
        - $ref: '#/components/schemas/SearchQueryBase'
        - type: object
          properties:
            data:
              type: array
              minItems: 1
              maxItems: 1
              items:
                type: object
                required:
                  - productBands
                properties:
                  productBands:
                    type: string
                    description: |
                      Band Bundle
                    enum:
                      - 4BB
                  dataFilter:
                    type: object
                    properties:
                      minOffNadir:
                        $ref: '#/components/schemas/MaxarMinOffNadir'
                      maxOffNadir:
                        $ref: '#/components/schemas/MaxarMaxOffNadir'
                      minSunElevation:
                        $ref: '#/components/schemas/MaxarMinSunElevation'
                      maxSunElevation:
                        $ref: '#/components/schemas/MaxarMaxSunElevation'
                      sensor:
                        $ref: '#/components/schemas/MaxarSensor'
    MaxarMinOffNadir:
      type: number
      format: int
      minimum: 0
      maximum: 45
      default: 0
    MaxarMaxOffNadir:
      type: number
      format: int
      minimum: 0
      maximum: 45
      default: 45
    MaxarMinSunElevation:
      description: The minimum allowable sun elevation in degrees
      type: number
      format: int
      minimum: 0
      maximum: 90
      default: 0
    MaxarMaxSunElevation:
      description: The maximum allowable sun elevation in degrees
      type: number
      format: int
      minimum: 0
      maximum: 90
      default: 90
    MaxarSensor:
      description: >
        If specified, limits search results to a single sensor (satellite).

        Results are also filtered to include only sensors that support the
        requested `productBands`. Thus, if a sensor that does not support all
        bands is specified, no results will be returned.
      type: string
      enum:
        - WV01
        - WV02
        - WV03
        - WV04
        - GE01
    MaxarSearchResults:
      properties:
        features:
          type: array
          description: >
            Search results as returned by MAXAR search.

            Note thate MAXAR search does not support paging. Thus, the `count`
            and `viewtoken` query parameters are ignored and a plain list of
            results is returned.
    MaxarOrderRequest:
      allOf:
        - $ref: '#/components/schemas/Order'
        - required:
            - input
        - type: object
          properties:
            input:
              allOf:
                - $ref: '#/components/schemas/MaxarSearchQuery'
                - type: object
                  properties:
                    data:
                      type: array
                      description: >
                        To order specific MAXAR products, list them in the
[...]
